/ignore_dir/
# Игнорируем файлы и папки для VS Code
.vscode/          # Каталог настроек VS Code
*.code-workspace  # Файлы рабочих областей VS Code
/.idea/            # Каталог конфигурации IntelliJ IDEA
*.iml             # Файлы модулей IntelliJ IDEA
README.md
/not_in_project.txt
